<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<title>查看成绩</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" th:href="@{/layuires/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/layuires/static/css/mian.css}">
	<script th:src="@{/layuires/layui/layui.js}"></script>
	<script th:src="@{/layuires/static/js/}"></script>
	<script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body class="lay-blog">
		<div class="header">
			<div class="header-wrap">
				<h1 class="logo pull-left">
					<img th:src="@{/layuires/static/images/logo.png}" alt="" class="logo-img">
					<i style="color: white;font-size: 20px">学生考试系统</i>
				</h1>
				<div class="blog-nav pull-right">
					<ul class="layui-nav pull-left" id="menuUl">
						<li class='layui-nav-item' th:if="${session.student!=null &amp;&amp; session.student!=''}">
							<a href='javascript:;'>
								<i class='layui-icon layui-icon-username' style='font-size: 15px' id="sname"></i></a>
							<dl class='layui-nav-child'>
								<dd><a id="saccount" onclick="onAccount()"></a></dd>
								<!--<dd><a onclick="xadmin.open('个人资料','/myDetails');">个人资料</a></dd>-->
								<!--<dd><a onclick="xadmin.open('修改密码页面','/myPass');">修改密码</a></dd>-->
								<dd><a onclick="logout()">注销登录</a></dd>
							</dl>
						</li>
						<li class='layui-nav-item' th:if="${session.student==null || session.student==''}">
							<a href='/studentexam/tologin' style='font-size: 15px'>请登录！</a></dd>
						</li>
						<li class='layui-nav-item'><a href='/studentexam/exammain' style='font-size: 15px'>我要考试</a></li>
						<li class='layui-nav-item'><a href='#' style='font-size: 15px'>查看成绩</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="container-wrap">
			<div class="container">
				<div class="contar-wrap" style="width: 1000px;margin-left: -15%;">
					<div class="item" style="width: 1000px">
						<div class="item-box  layer-photos-demo1 layer-photos-demo">
							<div class="layui-card-body ">
							</div>
							<div class="layui-card-body ">
								<table class="layui-hide" id="testTable" lay-filter="testTable" ></table>
							</div>
							<script type="text/html" id="barDemo">
								{{#  if(d.score !=='' && d.score!==null){ }}
								<a class="layui-btn layui-btn-xs" lay-event="details">考试详情</a>
								{{#  } }}
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>

	<script>
		layui.config({
		  base: '/layuires/static/js/'
		}).use('blog');
		layui.use('layer',function () {
			var layer=layui.layer;
		})
	</script>
</body>

<script>
	var account;
	var name;
	$(function () {
		$.ajax({
			type: 'GET'
			, url: '/studentexam/getSid'
			, data: {}
			, success: function (res) {
				if (res === 'error') {
					layer.alert('考生当前未登录，请先进行登录', {icon: 5});
					window.location.href = '/studentexam/tologin';
				}
				// else if (res.ssex === 'getOnline') {
				// 	document.getElementById("sname").innerText = res.sname;
				// 	document.getElementById("saccount").innerText = res.saccount;
				// 	account = res.saccount;
				// 	name = res.sname;
				// 	layer.msg('老师批改后可以进行成绩查询', {icon: 6});
				// }
				else {
					document.getElementById("sname").innerText=res.sname;
					document.getElementById("saccount").innerText=res.saccount;
					account=res.saccount;
					name=res.sname;
					$.ajax({
						type: "get",
						url: '/examscore/searchType',
						data: {},
						success: function (msg) {
							$("#subjectType").empty();
							if (msg.length >0 ) {
								$("#subjectType").append(new Option("---科目类型---", ""));
								for (var i = 0; i < msg.length; i++) {
									$("#subjectType").append(new Option(msg[i].sname, msg[i].sid))
								}
							} else {
								$("#subjectType").append(new Option("暂无数据", ""));
							}
							layui.form.render("select");
						},
						error: function (msg) {
							layer.msg("连接服务器超时，请及时通知老师管理员", {icon: 2})
						}
					})
				}
			}
			, error:function () {
				layer.msg('连接服务器超时，请及时通知老师管理员',{icon:6})
			}
		});

	});


	layui.use(['table','form','layer'], function () {
		var table = layui.table,
			layer=layui.layer,
			form = layui.form;
		table.render({
			elem: '#testTable'
			, url: '/examscore/testTable' //数据接口
			, page: true //开启分页
			, cellMinWidth: 80 //全局定义常规单元格的最小宽度
			, limits:[10,20]
			, limit:10
			, response: {
				dataName: 'datas' //规定数据列表的字段名称，默认：data
			}
			, cols: [
				[
					{type:'numbers' ,align:'center',title:'序号'}
					,{field:'eid', align:'center',title: '试卷id',style:'display:none;'}
					,{field:'sid', align:'center',title: '学生id',style:'display:none;'}
					,{field:'starttime', align:'center',title: '开始时间',width:150}
					,{field:'endtime', title: '结束时间',width: 150,align:'center'}
					,{field:'sname', align:'center',width: 150, title: '考试科目'}
					,{field:'tname', title: '科目老师',width: 150,align:'center'}
					,{field:'score', align:'center',width: 80, title: '成绩',templet:function (res) {
						if (res.score===null||res.score==='')
							return '评改中'
						else
							return res.score
					}}
					,{ fixed: 'right', title: '操作',  align: 'center',width: 150, toolbar: '#barDemo'}
				]
			],
			done: function () {
				//checkPermission();
			}

		});
		$('table.layui-table thead tr th:eq(1)').addClass('layui-hide');//隐藏的曝光表id表头
		$('table.layui-table thead tr th:eq(2)').addClass('layui-hide');//隐藏的曝光表id表头
		//监听行工具事件
		table.on('tool(testTable)', function(obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
			var data = obj.data ,//获得当前行数据
					layEvent = obj.event, //获得 lay-event 对应的值
					eid=data.eid,
					sid=data.sid;
			if (layEvent === 'details') {
				$.ajax({
					url:'/examscore/details',
					type:"post",
					data:{"eid":eid,"sid":sid},
					success:function (msg) {
						layer.open({
							type: 1 //Page层类型
							,area: ['600px', '500px']
							,title: '查看订单详情'
							,shade: 0.3 //遮罩透明度
							,anim: 1 //0-6的动画形式，-1不开启
							,content:
									'<div style="padding:50px;font-size: 15px"><div><p>雇主名称：'+msg.uname+'&nbsp;(ID:'+msg.nuseraccount+')</p></div><br><div><p>订单标题：'+msg.ntitle+'</p></div><br><div><p>订单内容：'+msg.ncontent+'</p></div><br><div><p>订单要求：'+msg.ndemand+'</p></div><br><div><p>订单金额：'+msg.nmoney+'(CNY)</p></div><br><div><p>时间：'+msg.ostarttime+'-至-'+msg.oendtime+'</p></div><br><div><p style="color: red">申请原因：'+cause+'</p></div></div>'
						});
					},
					error:function (msg) {
						layer.msg('连接超时，请稍后重试')
					}
				})
			}
		});

	});

	function logout() {
		layer.confirm('确定要注销登录吗？', function (index) {
			$.ajax({
				url:'/studentexam/logout',
				type:"get",
				data:{},
				success:function (msg) {
					if (msg === "success") {
						layer.msg("退出成功", {icon: 6});
						window.location.href="/studentexam/tologin"
					} else {
						layer.msg("退出登录失败，请重试",{icon:5})
					}
				},
				error:function (msg) {
					layer.msg('连接超时，请稍后重试')
				}
			})
		})
	}
	function onAccount() {
		layer.alert('当前登录学生姓名：'+name+'，账号：'+account,{icon:6})
	}
</script>

</html>