<!DOCTYPE html>
<html lang="en" class="x-admin-sm" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
	<meta charset="UTF-8">
	<title>我要考试</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	<link rel="stylesheet" th:href="@{/layuires/layui/css/layui.css}">
	<link rel="stylesheet" th:href="@{/layuires/static/css/mian.css}">
	<script th:src="@{/layuires/layui/layui.js}"></script>
	<script th:src="@{/layuires/static/js/}"></script>
	<script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body class="lay-blog" id="exambody">
<div class="header">
	<div class="header-wrap">
		<h1 class="logo pull-left">
			<img th:src="@{/layuires/static/images/logo.png}" alt="" class="logo-img">
			<i style="color: white;font-size: 20px">学生考试系统</i>
		</h1>
		<div class="blog-nav pull-right">
			<ul class="layui-nav pull-left" id="menuUl">
				<li class='layui-nav-item' th:if="${session.student!=null &amp;&amp; session.student!=''}">
					<a href='javascript:;'>
						<i class='layui-icon layui-icon-username' style='font-size: 15px' id="sname"></i></a>
					<dl class='layui-nav-child'>
<!--						<dd><a id="saccount" onclick="onAccount()"></a></dd>-->
						<dd><a onclick="myDetails()">个人资料</a></dd>
						<dd><a onclick="myPass()">修改密码</a></dd>
						<dd><a onclick="logout()">注销登录</a></dd>
					</dl>
				</li>
				<li class='layui-nav-item' th:if="${session.student==null || session.student==''}">
					<a href='/studentexam/tologin' style='font-size: 15px'>请登录！</a></dd>
				</li>
				<li class='layui-nav-item'><a href='/studentexam/exammain' style='font-size: 15px'>我要考试</a></li>
				<li class='layui-nav-item'><a href='/examscore/scoremain' style='font-size: 15px'>查看成绩</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="container-wrap">
	<div style=" position: fixed;bottom: 1;"><i id="dtime" style="font-size: 15px;color: red"></i></div>
	<div class="container">
		<div class="contar-wrap" style="width: 1000px;margin-left: -15%;">
			<div class="item" style="width: 1000px">
				<div class="item-box  layer-photos-demo1 layer-photos-demo" id="questionDiv">
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	layui.config({
		base: '/layuires/static/js/'
	}).use('blog');
	layui.use('layer',function () {
		var layer=layui.layer;
	})
</script>
</body>

<script>
	var account;
	var name;
	var maxtime;
	$(function () {
		$.ajax({
			type: 'GET'
			, url: '/studentexam/getSid'
			, data: {}
			, success: function (res) {
				if (res.ssex === 'error') {
					layer.alert('考生当前未登录，请先进行登录', {icon: 5});
					window.location.href = '/studentexam/tologin';
				} else {
					document.getElementById("sname").innerText = res.sname;
					account = res.saccount;
					name = res.sname;
					examnum();
				}
			}
			, error:function () {
				layer.msg('连接服务器超时，请及时通知老师管理员',{icon:6})
			}
		});
	});

	layui.use(['layer','form'],function () {
		var layer=layui.layer,
				form=layui.form;
		form.verify({
			title: function(value){
				var v=value.trim();
				if(v.length ===0){
					return '有填空或简单未完成';
				}
			}
		});

		//监听提交
		form.on('submit(demo1)', function(data){
			if (!validate_all()) {
				return false;
			} else {
				var index = layer.load(1, {
					shade: [0.1,'#fff'] //0.1透明度的白色背景
				});
				submitexam();
			}
			return false;
		});
	});

	function submitexam() {
		window.onbeforeunload=null;
		$.ajax({
			url:'/studentexam/doexam'
			,type:'post'
			,data:$("#questionForm").serialize()
			,success:function (res) {
				if (res === "success") {
					layer.msg("考试结束，请等待老师批改后可在成绩查询", {icon: 6});
					window.location.href="/examscore/scoremain";
				} else {
					layer.msg('考卷提交失败，请重新提交',{icon:5})
				}
			}
			,error:function () {
				layer.msg('考卷提交失败，请重新提交',{icon:5})
			}
		})
	}

	function validate_all(){
		var count=0;
		var radioName = new Array();
		$(":radio").each(function(){
			radioName.push($(this).attr("name"));
		});
		$(":checkbox").each(function(){
			radioName.push($(this).attr("name"));
		});
		radioName.sort();
		$.unique(radioName);
		$.each(radioName,function(i,val){
			if (!checkRadio(val)) {
				count++;
			}
		});
		if (count>0) {
			layer.alert("您还有未选择项，请选择，谢谢~",{icon:5});
			return false;
		} else {
			return true;
		}
	}
	function checkRadio(radioName){
		return $("input[name="+radioName+"]:checked").val() == null ? false : true;
	}

	function logout() {
		layer.confirm('确定要注销登录吗？', function (index) {
			$.ajax({
				url:'/studentexam/logout',
				type:"get",
				data:{},
				success:function (msg) {
					if (msg === "success") {
						layer.msg("退出成功", {icon: 6});
						window.location.href="/studentexam/tologin"
					} else {
						layer.msg("退出登录失败，请重试",{icon:5})
					}
				},
				error:function (msg) {
					layer.msg('连接超时，请稍后重试')
				}
			})
		})

	}

	// function onAccount() {
	// 	layer.alert('当前登录学生姓名：'+name+'，账号：'+account,{icon:6})
	// }

	//提交考试码开始考试
	function examnum() {
		layer.prompt({title: '请输入考试码，并确认', area: ['300px', '20px'], formType: 3,btn:['开始考试'],cancel:function () {
				window.location.href="/examscore/scoremain";
			}}, function(text, index) {
			text = text.trim();
			if (text.length > 0 && text.length <= 15) {
				$.ajax({
					url:'/studentexam/examnum'
					,type:'post'
					,data:{"examnum":text}
					,success:function (res) {
						if (res[0].qtime === 'error') {
							layer.msg('该考试码不在当前考试时间段', {icon: 5});
						} else if (res[0].qtime === 'online') {
							layer.msg('你已做完该考试码的考卷，请待老师批改后再查看成绩', {icon: 6});
						} else if (res[0].qtime === 'notquestion') {
							layer.msg('考试码错误，请联系任课老师', {icon: 5});
						} else if (res[0].qtime === 'notquestion1') {
							layer.msg('考试码不存在', {icon: 5});
						} else if (res[0].qtime === 'notteacher') {
							layer.msg('该考试码出卷老师不是你的任课老师', {icon: 5});
						} else if (res.length > 0) {
							dotime(res[0].correct);
							window.onbeforeunload = function (e) {
								e.returnValue = "确定要离开本界面吗";
							};
							$("#questionDiv").append("<form class='layui-form' lay-filter='example' id='questionForm'></form>");
							for (var i = 0; i < res.length; i++) {
								//1选择 2判断  3填空 4简答
								if (res[i].qtype === 1) {
									$("#questionForm").append("<div class='layui-form-item'><label class='layui-form-label-col' style='margin-left: 50px'>" + (i + 1) + "、" + res[i].title + "</label><label class='layui-form-label'>答案：</label><div class='layui-input-block'><input name='" + res[i].qid + "' title='A、" + res[i].option1 + "' type='radio' value='A' ><input name='" + res[i].qid + "' title='B、" + res[i].option2 + "' type='radio' value='B' ><input name='" + res[i].qid + "' title='C、" + res[i].option3 + "' type='radio' value='C' ><input name='" + res[i].qid + "' title='D、" + res[i].option4 + "' type='radio' value='D' ><input name='" + res[i].qid + "' type='text' value='E' style='display: none'></div></div>")
								} else if (res[i].qtype === 3) {
									$("#questionForm").append("<div class='layui-form-item'><label class='layui-form-label-col' style='margin-left: 50px'>" + (i + 1) + "、" + res[i].title + "</label><label class='layui-form-label'>答案：</label><div class='layui-input-block'><input name='" + res[i].qid + "' class='layui-input' type='text' placeholder='请输入答案' autocomplete='off' lay-verify='title'></div></div>")
								} else if (res[i].qtype === 2) {
									$("#questionForm").append("<div class='layui-form-item'><label class='layui-form-label-col' style='margin-left: 50px'>" + (i + 1) + "、" + res[i].title + "</label><label class='layui-form-label'>答案：</label><div class='layui-input-block'><input name='" + res[i].qid + "' title='对' type='radio' value='对' ><input name='" + res[i].qid + "' title='错' type='radio' value='错' ><input name='" + res[i].qid + "'  type='text' value='无' style='display: none'></div></div>")
								} else if (res[i].qtype === 4) {
									$("#questionForm").append("<div class='layui-form-item'><label class='layui-form-label-col' style='margin-left: 50px'>" + (i + 1) + "、" + res[i].title + "</label><label class='layui-form-label'>答案：</label><div class='layui-input-block'><textarea name='" + res[i].qid + "' class='layui-textarea'  placeholder='请输入简答' autocomplete='off' lay-verify='title'></textarea></div></div>")
								}
							}
							$("#questionForm").append("<div class='layui-form-item'><div class='layui-input-block'><button class='layui-btn' type='submit' lay-filter='demo1' lay-submit=''>立即提交</button></div></div>");
							layui.form.render();
							layer.close(index);
						}
					}
					,error:function () {
						layer.msg('连接超时，请稍后重试')
					}
				})

			}
		});
	}

	function dotime(times) {
		maxtime = times * 60 * 60 ; //一个小时，按秒计算，自己调整!
		timer = setInterval("CountDown()", 1000);
	}

	function CountDown() {
		if (maxtime >= 0) {
			var minutes = Math.floor(maxtime / 60);
			var seconds = Math.floor(maxtime % 60);
			var msg = "距离考试结束还有：" + minutes + "分" + seconds + "秒";
			document.getElementById("dtime").innerText=msg;
			if (maxtime === (5 * 60))
				layer.msg("还剩5分钟",{icon:6});
			--maxtime;
		} else{
			clearInterval(timer);
			layer.alert("考试结束",{icon:6});
			submitexam();
		}
	}

	function myDetails() {
		layer.open({
			type: 2 //Page层类型
			,area: ['700px', '500px']
			,title: '个人资料'
			,shade: 0.3 //遮罩透明度
			,anim: 1 //0-6的动画形式，-1不开启
			,content:'/studentexam/myDetails'
		});
	}

	function myPass() {
		layer.open({
			type: 2 //Page层类型
			,area: ['700px', '400px']
			,title: '修改密码'
			,shade: 0.3 //遮罩透明度
			,anim: 1 //0-6的动画形式，-1不开启
			,content:'/studentexam/myPass'
		});
	}

</script>

</html>