<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>班级管理</title>
    <link rel="stylesheet" th:href="@{/layuires/layui/css/layui.css}">
    <script th:src="@{/layuires/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body>

<input type="button" id="add" class="layui-btn" value="新增班级">

<table id="demo" lay-filter="test"></table>

<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove">删除</a>
</script>

<script>

    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#demo'
            , url: "/class/getList"
            , page: true
            , limit: 5
            , limits: [5]
            , cols: [
                [
                    {field: 'cname', title: '班级名', width: '30%'}
                    , {field: 'count', title: '班级人数', width: '30%'}
                    , {title: '操作', width: '40%', toolbar: '#bar'}
                ]
            ]
        });


        table.on('tool(test)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event;
            var tr = obj.tr;
            layer.confirm('确定要删除该班级吗？', function (index) {
                if (data.count > 0) {
                    layer.alert('班级有学生不可删除', {icon: 5});
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/class/delClass",
                        dataType: "text",
                        data: {cname: data.cname},
                        success: function (msg) {
                            if (msg === "yes") {
	                            layer.open({
		                            title: ['温馨提示'],
		                            content: '删除成功',
		                            btn: ['确定'],
		                            closeBtn: 0,
		                            yes: function () {
			                            $(".layui-laypage-btn")[0].click();
			                            layer.close(index);
		                            }
	                            });

                            } else {
                                layer.alert("移除失败，请重试", {icon: 5});
                            }
                        },
                        error: function () {
                            layer.alert("服务器正忙.....", {icon: 5});
                        }
                    });
                }
            });
        });
    });
    $('#add').click(function () {
        layer.prompt({title: '请输入班级名称'}, function (value, index, elem) {
            if (value.length > 10) {
                layer.alert("班级名不得超过10字", {icon: 5});
            } else {
                $.ajax({
                    type: "POST",
                    url: "/class/checkClass",
                    dataType: "text",
                    data: {cname: value},
                    success: function (msg) {
                        if (msg === "yes") {
                            $.ajax({
                                type: "POST",
                                url: "/class/addClass",
                                dataType: "text",
                                data: {cname: value},
                                success: function (msg) {
                                    if (msg === "yes") {
                                        layer.open({
                                            title: ['温馨提示'],
                                            content: '新增成功',
                                            btn: ['确定'],
                                            closeBtn: 0,
                                            yes: function () {
                                                window.location.href = "/go/to/admin/classTable";
                                            }
                                        });
                                    } else {
                                        layer.alert("新增失败，请重试", {icon: 5});
                                    }
                                },
                                error: function () {
                                    layer.alert("服务器正忙.....", {icon: 5});
                                }
                            });
                        } else {
                            layer.alert("该课程已存在", {icon: 5});
                        }
                    },
                    error: function () {
                        layer.alert("服务器正忙.....", {icon: 5});
                    }
                });
            }
        });
    });

</script>

</body>
</html>