<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>试卷管理</title>
    <link rel="stylesheet" th:href="@{/layuires/layui/css/layui.css}">
    <script th:src="@{/layuires/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body>

<div class="demoTable">
    科目:<select  lay-verify="required" id="type">
</select>
    <button class="layui-btn" data-type="reload" id="cha">查询</button>
    <input type="button" id="add" class="layui-btn" value="新增试卷">
</div>


<table id="demo" lay-filter="test"></table>

<script type="text/html" id="msg2">
    <div class="layui-btn-container">
        <button type="button" class="layui-btn" lay-demotransferactive="getData">提交</button>
    </div>

    <div id="test7" class="demo-transfer"></div>
</script>

<script id="msg" type="text/html">

    <div class="layui-form-item">
        <label class="layui-form-label">科目:</label>
        <div class="layui-input-inline">
            <select  lay-verify="required" id="subject">
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">试卷名:</label>
        <div class="layui-input-inline">
            <input type="text" id="ename"  required  lay-verify="required" placeholder="请输入试卷名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">考试码:</label>
        <div class="layui-input-inline">
            <input type="text" id="ecode"  required  lay-verify="required" placeholder="请输入唯一考试码" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" >开始日期：</label>
        <div class="layui-input-inline">
            <input lay-verify="required" type="date" class="layui-input" id="estart">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label" >截止日期：</label>
        <div class="layui-input-inline">
            <input lay-verify="required" type="date" class="layui-input" id="eend">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">考试时长:</label>
        <div class="layui-input-inline">
            <select  lay-verify="required" id="eduration">
                <option value="0.5">30分钟</option>
                <option value="1">60分钟</option>
                <option value="1.5">90分钟</option>
                <option value="2">120分钟</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">选择题数:</label>
        <div class="layui-input-inline">
            <select  lay-verify="required" id="q1" onchange="getSum()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">判断题数:</label>
        <div class="layui-input-inline">
            <select  lay-verify="required" id="q2" onchange="getSum()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">填空题数:</label>
        <div class="layui-input-inline">
            <select  lay-verify="required" id="q3" onchange="getSum()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">简答题数:</label>
        <div class="layui-input-inline">
            <select  lay-verify="required" id="q4" onchange="getSum()">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="layui-form-mid layui-word-aux" ></div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label" >当前总分：</label>
        <div class="layui-input-inline">
            <span id="sum">15</span>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn"  id="random">随机生成</button>
            <button class="layui-btn"  id="yes">手动生成</button>
        </div>
    </div>

</script>


<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="remove">删除</a>
</script>

<script>

	$(function ()
	{
		$.ajax({
			type:"POST",
			url:"/eq/getSubs",
			success:function(msg)
			{
				document.getElementById("type").length=0;
				$('#type').append("<option value='所有'>所有</option>");
				for(var i=0;i<msg.length;i++)
				{
					$('#type').append("<option value='"+msg[i].sid+"'>"+msg[i].sname+"</option>")
				}
			},
			error:function ()
			{
				layer.alert("服务器正忙.....", {icon: 5});
			}
		});
	});

	function getSum()
    {
	    var q1=$('#q1').val();
	    var q2=$('#q2').val();
	    var q3=$('#q3').val();
	    var q4=$('#q4').val();
	    var sum=Number(q1)*2+Number(q2)+Number(q3)*2+Number(q4)*10;
	    document.getElementById("sum").innerText=sum;
    }

	layui.use(['transfer', 'layer', 'util','table'], function()
	{
		var table=layui.table;
		table.render({
			elem: '#demo'
			,url: "/eq/getList"
			,page: true
			,limit:10
			,limits:[10]
			,id:"testReload"
			,cols: [
				[
					{field: 'ename', title: '试卷名', width:'10%'}
                    ,{field: 'tips', title: '学科', width:'5%'}
                    ,{field: 'estart', title: '开始时间', width:'15%'}
                    ,{field: 'eend', title: '截止时间', width:'15%'}
                    ,{field: 'ecode', title: '考试码', width:'15%'}
                    ,{field: 'eduration', title: '考试时长(小时)', width:'15%'}
                    ,{field: 'eregtime', title: '创建时间', width:'15%'}
					, {title: '操作', width: '10%', toolbar: '#bar'}
				]
			]
		});

		$('#cha').click(function ()
        {
	        table.reload('testReload',
		        {
			        page:
				        {
					        curr: 1
				        }
			        , where:
				        {
					        sub: $("#type").val()

				        }
		        });
		});

		table.on('tool(test)', function (obj) {
			var data = obj.data; //获得当前行数据
			var layEvent = obj.event;
			var tr = obj.tr;
			layer.confirm('确定要删除该试卷吗？', function (index) {
                $.ajax({
                    type: "POST",
                    url: "/eq/checkExam",
                    dataType: "text",
                    data: {eid:data.eid},
                    success: function (msg) {
                        if (msg === "yes")
                        {
	                        $.ajax({
		                        type:'POST',
		                        url:'/eq/deleteExam',
		                        data: {eid:data.eid},
		                        success:function(msg)
		                        {
                                    if(msg==="yes")
                                    {
	                                    layer.alert("删除成功", {icon: 1});
                                        $(".layui-laypage-btn")[0].click();
                                        layer.close(index);
                                    }
                                    else
                                    {
	                                    layer.alert("删除失败，请重试", {icon: 5});
                                    }
		                        },
		                        error:function ()
		                        {
			                        layer.alert("服务器正忙.....", {icon: 5});
		                        }
	                        });
                        } else
                        	{
                            layer.alert("该试卷已有学生答题，无法删除", {icon: 5});
                        }
                    },
                    error: function () {
                        layer.alert("服务器正忙.....", {icon: 5});
                    }
                });
			});
		});


		$('#add').click(function()
		{
			var str= layer.open({
				type: 1,
				content: $('#msg').html(),
				area: ['400px','400px'],
				title: '新增试卷',
				success:function ()
				{
					$.ajax({
						type:"POST",
						url:"/eq/getSubs",
						success:function(msg)
						{
							document.getElementById("subject").length=0;
							for(var i=0;i<msg.length;i++)
							{
								$('#subject').append("<option value='"+msg[i].sid+"'>"+msg[i].sname+"</option>")
							}
						},
						error:function ()
						{
							layer.alert("服务器正忙.....", {icon: 5});
						}
					});
				}
			});
			$('#random').click(function ()
			{
				var subject=$('#subject').val();
				var eduration=$('#eduration').val();
				var ename=$('#ename').val();
				var ecode=$('#ecode').val();
				var estart=$('#estart').val();
				var eend=$('#eend').val();
				var q1=$('#q1').val();
				var q2=$('#q2').val();
				var q3=$('#q3').val();
				var q4=$('#q4').val();
				var sum=Number(q1)*2+Number(q2)+Number(q3)*2+Number(q4)*10;

				if(!(ename.length>=2 && ename.length<=10))
				{
					layer.alert("请输入2-10位的试卷名", {icon: 5});
				}

				else if(!(ecode.length>=4 && ecode.length<=6))
				{
					layer.alert("请输入4-6位的考试码", {icon: 5});
				}

				else if(estart.length===0)
				{
					layer.alert("请选择开始时间", {icon: 5});
				}

				else if(eend.length===0)
				{
					layer.alert("请选择截止时间", {icon: 5});
				}

				else if(estart>eend)
				{
					layer.alert("截止时间不能小于开始时间", {icon: 5});
				}

				else if(!(sum===100))
				{
					layer.alert("总分必须为100", {icon: 5});
				}
				else
				{
					$.ajax({
						type:'POST',
						url:'/eq/check',
						data: {sid:subject,q1:q1,q2:q2,q3:q3,q4:q4,estart:estart,ecode:ecode},
						success:function(msg)
						{
							if(msg==="time")
							{
								layer.alert("开始日期必须在今天之后", {icon: 5});
							}
							else if(msg==="code")
							{
								layer.alert("考试码已存在", {icon: 5});
							}
							else if(msg==="q1")
							{
								layer.alert("选择题数量不足，请先新增题库", {icon: 5});
							}
							else if(msg==="q2")
							{
								layer.alert("判断题数量不足，请先新增题库", {icon: 5});
							}
							else if(msg==="q3")
							{
								layer.alert("填空题数量不足，请先新增题库", {icon: 5});
							}
							else if(msg==="q4")
							{
								layer.alert("简答题数量不足，请先新增题库", {icon: 5});
							}
							else
							{
								layer.load(1, {
									shade: [0.1,'#fff'] //0.1透明度的白色背景
								});
								$.ajax({
									type:"POST",
									url:"/eq/addExam",
									data: {sid:subject,q1:q1,q2:q2,q3:q3,q4:q4,estart:estart,eend:eend,ename:ename,ecode:ecode,eduration:eduration},
									success:function(msg)
									{
										if(msg==="yes")
										{
											layer.open({
												title: ['温馨提示'],
												content: '新增成功',
												btn: ['确定'],
												closeBtn: 0,
												yes: function () {
													window.location.href = "/go/to/teacher/examTable";
												}
											});
										}
										else
										{
											layer.alert("新增失败，请重试", {icon: 5});
										}
									},
									error:function ()
									{
										layer.alert("服务器正忙.....", {icon: 5});
									}
								});
							}
						},
						error:function ()
						{
							layer.alert("服务器正忙.....", {icon: 5});
						}
					});
				}
			});


			$('#yes').click(function ()
			{
				var subject=$('#subject').val();
				var eduration=$('#eduration').val();
				var ename=$('#ename').val();
				var ecode=$('#ecode').val();
				var estart=$('#estart').val();
				var eend=$('#eend').val();
				var q1=$('#q1').val();
				var q2=$('#q2').val();
				var q3=$('#q3').val();
				var q4=$('#q4').val();
				var sum=Number(q1)*2+Number(q2)+Number(q3)*2+Number(q4)*10;

				if(!(ename.length>=2 && ename.length<=10))
				{
					layer.alert("请输入2-10位的试卷名", {icon: 5});
				}

				else if(!(ecode.length>=4 && ecode.length<=6))
				{
					layer.alert("请输入4-6位的考试码", {icon: 5});
				}

				else if(estart.length===0)
				{
					layer.alert("请选择开始时间", {icon: 5});
				}

				else if(eend.length===0)
				{
					layer.alert("请选择截止时间", {icon: 5});
				}

				else if(estart>eend)
				{
					layer.alert("截止时间不能小于开始时间", {icon: 5});
				}

				else if(!(sum===100))
				{
					layer.alert("总分必须为100", {icon: 5});
				}
				else
				{
					$.ajax({
						type:'POST',
						url:'/eq/check',
						data: {sid:subject,q1:q1,q2:q2,q3:q3,q4:q4,estart:estart,ecode:ecode},
						success:function(msg)
						{
							if(msg==="time")
							{
								layer.alert("开始日期必须在今天之后", {icon: 5});
							}
							else if(msg==="code")
							{
								layer.alert("考试码已存在", {icon: 5});
							}
							else if(msg==="q1")
							{
								layer.alert("选择题数量不足，请先新增题库", {icon: 5});
							}
							else if(msg==="q2")
							{
								layer.alert("判断题数量不足，请先新增题库", {icon: 5});
							}
							else if(msg==="q3")
							{
								layer.alert("填空题数量不足，请先新增题库", {icon: 5});
							}
							else if(msg==="q4")
							{
								layer.alert("简答题数量不足，请先新增题库", {icon: 5});
							}
							else
							{
                                var transfer=layui.transfer;
                                var util=layui.util;
								var data1=[];
								$.ajax({
									type:"POST",
									url:"/eq/getQuestionList",
                                    data:{sid:subject},
									success:function(msg)
									{
										for(var i=0;i<msg.length;i++)
                                        {
	                                        data1.push(msg[i]);
                                        }
										layer.open({
											type: 1,
											content: $('#msg2').html(),
											area: ['800px','400px'],
											title: '选择题目',
											success:function ()
											{
												transfer.render({
													elem: '#test7'
													,data: data1
													,title: ['未选择', '已选择']
													,id: 'key123' //定义唯一索引
												});
												//批量办法定事件
												util.event('lay-demoTransferActive', {
													getData: function(othis){
														var getData = transfer.getData('key123'); //获取右侧数据
                                                        $.ajax({
															type:"POST",
															url:"/eq/checkQuest",
                                                            data:{list:JSON.stringify(getData),q1:q1,q2:q2,q3:q3,q4:q4},
															success:function(msg)
															{
                                                                if(msg==="no")
                                                                {
	                                                                layer.alert("您添加的题目数量与您之前选择的数量不匹配，请重新选择", {icon: 5});
                                                                }
                                                                else
                                                                {
	                                                                layer.load(1, {
		                                                                shade: [0.1,'#fff'] //0.1透明度的白色背景
	                                                                });
	                                                                $.ajax({
		                                                                type:"POST",
		                                                                url:"/eq/addExam2",
		                                                                data: {list:JSON.stringify(getData),sid:subject,estart:estart,eend:eend,ename:ename,ecode:ecode,eduration:eduration},
		                                                                success:function(msg)
		                                                                {
			                                                                if(msg==="yes")
			                                                                {
				                                                                layer.open({
					                                                                title: ['温馨提示'],
					                                                                content: '新增成功',
					                                                                btn: ['确定'],
					                                                                closeBtn: 0,
					                                                                yes: function () {
						                                                                window.location.href = "/go/to/teacher/examTable";
					                                                                }
				                                                                });
			                                                                }
			                                                                else
			                                                                {
				                                                                layer.alert("新增失败，请重试", {icon: 5});
			                                                                }
		                                                                },
		                                                                error:function ()
		                                                                {
			                                                                layer.alert("服务器正忙.....", {icon: 5});
		                                                                }
	                                                                });
                                                                }
															},
															error:function ()
															{
																layer.alert("服务器正忙.....", {icon: 5});
															}
														});
													}
												});
											}
										});
									},
									error:function ()
									{
										layer.alert("服务器正忙.....", {icon: 5});
									}
								});
							}
						},
						error:function ()
						{
							layer.alert("服务器正忙.....", {icon: 5});
						}
					});
				}
			});

		});

	});








</script>

</body>
</html>