<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>题库管理-简答题</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/layuires/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layuires/static/css/mian.css}">
    <script th:src="@{/layuires/layui/layui.js}"></script>
    <script th:src="@{/layuires/static/js/blog.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body>
<input type="hidden" id="subject" th:value="${session.list.get(0).getSid()}">
<div class="layui-fluid">
    <div class="layui-row  layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body ">
                    <form class="layui-form  layui-col-space5">
                        <div class="layui-input-inline">
                            <select name="subject" lay-filter="verifyState">
                                <div th:each="subject:${session.list}">
                                    <option th:value="${subject.getSid()}"><span th:text="${subject.getSname()}"></span>
                                    </option>
                                </div>
                            </select>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button class="layui-btn" lay-submit="" lay-filter="search"><i
                                    class="layui-icon">&#xe615;</i></button>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button type="button" class="layui-btn layui-btn-fluid" onclick="add()">新增简答题
                            </button>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button type="button" class="layui-btn" id="test3"><i class="layui-icon"></i>批量导入题库
                            </button>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button type="button" class="layui-btn layui-btn-fluid" onclick="addMention()">题库模板导入提示
                            </button>
                        </div>

                        <div class="layui-inline layui-show-xs-block">
                            <button type="button" class="layui-btn layui-btn-fluid" lay-event="dowload"
                                    onclick="download()">获取简答题题库模板
                            </button>
                        </div>
                    </form>
                </div>
                <div class="layui-card-body ">
                    <table class="layui-hide" id="topic" lay-filter="topic"></table>
                </div>

                <div class="layui-card-body ">
                    <script type="text/html" id="barDemo">
                        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<script type="text/html" id="ruleFrame">
    <div style="padding:50px;font-size: 15px">
        <div>简答题题目：<i id="tt" style="color: red;font-size: 12px"></i><textarea name="titles" id="titles" cols="50"
                                                                               rows="1"
                                                                               style="resize: none;font-size: 20px;border-radius: 5px"
        ></textarea></div>
        <br>
        <div class="layui-input-inline">
            <select id="sid" lay-filter="verifyState">
                <option value="">请选择科目</option>
                <div th:each="subject:${session.list}">
                    <option th:value="${subject.getSid()}"><span th:text="${subject.getSname()}"></span></option>
                </div>
            </select>
        </div>
        <br><br><br>
        <div style="float: right">
            <button class="layui-btn layui-btn-xs layui-btn-radius" onclick="addrule()">确定新增</button>
        </div>
    </div>
</script>

<script type="text/html" id="rule2Frame">
    <div style="padding:50px;font-size: 15px">
        <div>
            <h1>简答题模板导入注意-Warning</h1>
            <h3>请先下载预先设定好的模板，然后按格式导入模板，切勿随机修改模板，将会导致导入失败或导入错误的模板导致题库出现问题！</h3>
            <div th:each="subject:${session.list}">
                <div style="color: red">
                    <span>sid对应科目:</span><span th:text="${subject.getSid()}"></span><span>=</span><span th:text="${subject.getSname()}"></span><br>
                </div>
            </div>
        </div>
    </div>
</script>


<script>
	var opAdd;

	function add() {
		opAdd = layer.open({
			type: 1 //Page层类型
			, area: ['600px', '300px']
			, title: '新增简答题窗口'
			, shade: 0.3 //遮罩透明度
			, anim: 1 //0-6的动画形式，-1不开启
			, content: $("#ruleFrame").html()
		});
	}

	function download() {
		window.location.href = "/topic/downloadShort";
	}

	function addMention() {
		opAdd = layer.open({
			type: 1 //Page层类型
			, area: ['600px', '300px']
			, title: '新增简答题提示窗口'
			, shade: 0.3 //遮罩透明度
			, anim: 1 //0-6的动画形式，-1不开启
			, content: $("#rule2Frame").html()
		});
	}


	function addrule() {
		var title = $("#titles").val();
		var sid = $("#sid option:selected").val();
		if (title == null || title === "") {
			layer.msg("请输入完整", {icon: 2});
		} else if (sid == null || sid === "") {
			layer.msg("请选择正确的科目类型", {icon: 2});
		} else {
			$.ajax({
				type: "post",
				url: '/topic/shortAdd',
				data: {
					"title": title,
					"sid": sid
				},
				success: function (msg) {
					if (msg == "success") {
						layer.close(opAdd);
						location.reload();
						alert("添加成功");
					} else {
						alert("添加失败");
					}
				}
			})
		}
	}


	layui.use('table', function () {
		var sid = $('#subject').val();
		var table = layui.table,
			form = layui.form;
		table.render({
			elem: '#topic'
			, url: '/topic/shortList?sid=' + sid //数据接口
			, page: true //开启分页
			, cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
			, response: {
				dataName: 'datas' //规定数据列表的字段名称，默认：data
			}
			, cols: [
				[ //表头
					{type: 'checkbox', fixed: 'left'},
					{title: '序号', type: 'numbers', width: '5%'}
					, {field: 'sname', title: '科目', align: 'center'}
					, {field: 'title', title: '题目名', align: 'center'}
					, {field: 'qtime', title: '生成时间', align: 'center'}
					, {title: '操作', toolbar: '#barDemo', align: 'center'}
				]
			]
		});


		//监听工具条
		table.on('tool(topic)', function (obj) {
			var data = obj.data;//获取点击行数据
			if (obj.event === 'del') {
				layer.confirm('确认删除该题目吗?', function (index) {
					$.ajax({
						url: "/topic/delete",
						type: "GET",
						data: {
							qid: data.qid
						},
						dataType: 'text',
						success: function (result) {
							if (result == 's') {
								layer.alert("删除成功", {icon: 1}, function (index1) {
									layer.close(index1);
									table.reload('topic');
								});
							} else {
								layer.alert("删除失败，已有试卷在使用该题", {icon: 2})
							}

						}
					});
				});
			}
		});

		//搜索
		form.on('submit(search)', function (data) {
			var data = data.field;
			table.render({
				elem: '#topic'
				, url: '/topic/shortList?sid=' + data.subject //数据接口
				, page: true //开启分页
				, where: {
					sid: data.subject //数据接口
				}
				, response: {
					countName: 'count', //规定数据总数的字段名称，默认：count
					dataName: 'datas' //规定数据列表的字段名称，默认：data
				}
				, cols: [
					[ //表头
						{type: 'checkbox', fixed: 'left'},
						{title: '序号', type: 'numbers'}
						, {field: 'sname', title: '科目', align: 'center'}
						, {field: 'title', title: '题目名', align: 'center'}
						, {field: 'qtime', title: '生成时间', align: 'center'}
						, {title: '操作', toolbar: '#barDemo', align: 'center'}
					]
				]
			});
			return false;
		});
	});


</script>

<script>
	layui.use(['upload', 'table'], function () {
		var $ = layui.jquery
			, upload = layui.upload,
			table = layui.table;
		//指定允许上传的文件类型
		upload.render({
			elem: '#test3'
			,
			url: '/topic/bulkInsertShort' //改成您自己的上传接口
			,
			accept: 'file' //普通文件
			,
			acceptMime: '.xls'//文件窗口默认显示 xlsx|xls|xlsm 的文件
			,
			exts: 'xls' //限制后缀名
			,
			done: function (res) {
				layer.alert(res.msg);
				table.reload('topic');
			}
		});
	});
</script>
</html>