<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>批改试卷列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/layuires/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/layuires/static/css/mian.css}">
    <script th:src="@{/layuires/layui/layui.js}"></script>
    <script th:src="@{/js/jquery-3.4.1.js}"></script>
</head>
<body>
<input type="hidden" id="teacher" th:value="${session.teacher.getTid()}">
<div class="layui-card-body ">
    <table class="layui-hide" id="topic" lay-filter="topic"></table>
</div>

<div class="layui-card-body ">
    <script type="text/html" id="barDemo">
        {{#  if(d.score == null || d.score ==''){ }}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">批改试卷</a>
        {{#  } }}
    </script>
</div>
</body>
<script>
	var aoodd;
	layui.use('table', function () {
		var teacher = $('#teacher').val();
		var table = layui.table;
		table.render({
			elem: '#topic'
			, url: '/topic/examList?tid=' + teacher //数据接口
			, page: true //开启分页
			, cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
			, response:
				{
					dataName: 'datas' //规定数据列表的字段名称，默认：data
				}
			,
			cols: [
				[ //表头
					{type: 'checkbox', fixed: 'left'},
					{title: '序号', type: 'numbers'}
					, {field: 'ename', title: '试卷名称', align: 'center'}
					, {field: 'ecode', title: '考试码', align: 'center'}
					, {field: 'sname', title: '科目', align: 'center'}
					, {field: 'score', title: '成绩', align: 'center'}
					, {field: 'starttime', title: '做题开始时间', align: 'center'}
					, {field: 'endtime', title: '做题结束时间', align: 'center'}
					, {title: '操作', toolbar: '#barDemo', align: 'center'}
				]
			]
		});


		//监听工具条
		table.on('tool(topic)', function (obj) {
			var data = obj.data;//获取点击行数据
			if (obj.event === 'del') {
				$.ajax({
					url: "/topic/getStudentAnswer",
					type: "GET",
					data: {
						eid: data.eid,
						studentId: data.studentId
					},
					dataType: 'json',
					success: function (result) {
						var score = 0;
						$('#questionForm').append('<input id="eid" value="' + result[0].eid + '" style="width: 18px" hidden="hidden">');
						$('#questionForm').append('<input id="sid" value="' + result[0].studentId + '" style="width: 18px" hidden="hidden">');
						for (var j = 0; j < result.length; j++) {
							if (result[j].qtype == 1 || result[j].qtype == 2) {
								if (result[j].answer == result[j].correct) {
									score = score + 2;
								}
							}
						}
						$('#questionForm').append('<input id="score1" value="' + score + '" style="width: 18px" hidden="hidden">');
						for (var i = 0; i < result.length; i++) {
							if (result[i].qtype == 1) {
								$('#questionForm').append(
									'<span>第' + (i + 1) + '题为选择题:</span><br><span>题目为：' + result[i].title + '</span><br><span>答案为：' + result[i].answer + '</span><br><span>正确答案：' + result[i].correct + '</span><br><br>'
								)
							} else if (result[i].qtype == 2) {
								$('#questionForm').append(
									'<span>第' + (i + 1) + '题为判断题:</span><br><span>题目为：' + result[i].title + '</span><br><span>答案为：' + result[i].answer + '</span><br><span>正确答案：' + result[i].correct + '</span><br><br>'
								)
							} else if (result[i].qtype == 3) {
								$('#questionForm').append(
									'<span>第' + (i + 1) + '题为填空题:</span><br><span>题目为：' + result[i].title + '</span><br><span>答案为：' + result[i].answer + '</span><br><span>请打分:</span><input lay-verify="required" class="scoreTwo" value="" style="width: 18px"><span>分</span><br><br>'
								)
							} else if (result[i].qtype == 4) {
								$('#questionForm').append(
									'<span>第' + (i + 1) + '题为简答题:</span><br><span>题目为：' + result[i].title + '</span><br><span>答案为：' + result[i].answer + '</span><br><span>请打分:</span><input  lay-verify="required" class="scoreTwo" value="" style="width: 18px"><span>分</span><br><br>'
								)
							}
						}
						$('#questionForm').append('    <div style="float: right">\n' +
							'            <button class=\'layui-btn\' type=\'submit\' lay-filter=\'demo1\'\n' +
							'                    lay-submit=\'\'>提交结果\n' +
							'            </button>\n' +
							'        </div>')

					}
				});

				aoodd = layer.open({
					type: 1 //Page层类型
					, area: ['800px', '600px']
					, title: '新增填空题窗口'
					, shade: 0.3 //遮罩透明度
					, anim: 1 //0-6的动画形式，-1不开启
					, content: $("#ruleFrame").html()
				});
			}
		});
	});

	layui.use(['form', 'table'], function () {
		var form = layui.form;
		var table = layui.table;
		form.on('submit(demo1)', function (data) {
			var finallyScore = 0;
			var score2 = [];
			var eid = $('#eid').val();
			var sid = $('#sid').val();
			var score1 =parseInt( $('#score1').val());
			score2 = $('.scoreTwo');
			for (var i = 0; i < score2.length; i++) {
				if ($(score2[i]).val() != null) {
					finallyScore = finallyScore + parseInt($(score2[i]).val());
				}
			}
			finallyScore = score1 + finallyScore;
			$.ajax({
				url: "/topic/addScore",
				type: "GET",
				data: {
					eid: eid,
					sid: sid,
					score: finallyScore
				},
				dataType: 'text',
				success: function (index) {
					alert(index);
					layer.close(aoodd);
					layer.alert("批改成功！");
					table.reload('topic');

				},
				error: function () {
					alert("dddd");
					layer.close(aoodd);
					layer.alert("您的网络有问题，提交失败！")
				}
			});
			return false;
		});
	});
</script>

<script type="text/html" id="ruleFrame">
    <div style="padding:50px;font-size: 15px" id="exam">
        <form class='layui-form' lay-filter='example' id='questionForm'>
        </form>
        <form class='layui-form' lay-filter='example' id='questionForm2'>
        </form>
    </div>
</script>


</html>