<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.examsystem.dao.StudentScoreDao">
    <select id="searchType" parameterType="java.lang.String" resultType="com.example.examsystem.bean.Subject">
        select * from subject
    </select>

    <select id="testTable" parameterType="java.util.Map" resultType="com.example.examsystem.dto.ExamDto">
        select se.*,t.tname,su.sname from (select s.eid,s.sid,s.starttime,s.endtime,s.score,e.tid,e.sid suid from studentexam s left join exam e on e.eid=s.eid where s.sid=#{sid}) se,teacher t,subject su where se.tid=t.tid and se.suid=su.sid order by se.endtime desc limit #{startP},#{endP};
</select>

    <select id="testTableCount" parameterType="java.lang.String" resultType="int">
        select count(*) from (select s.eid,s.sid,s.starttime,s.endtime,s.score,e.tid,e.sid suid from studentexam s left join exam e on e.eid=s.eid where s.sid=#{sid}) se,teacher t,subject su where se.tid=t.tid and se.suid=su.sid;
    </select>

    <select id="details" parameterType="java.lang.String" resultType="com.example.examsystem.dto.QuestionDto">
        select q.*,a.answer from answer a left join question q on a.qid=q.qid where a.sid=#{sid} and a.eid=#{eid}
    </select>

</mapper>