<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.happyfamily.springboot.crowdsourcingplatform.dao.wang.RuleDao">

    <select id="ruleList" parameterType="java.lang.String" resultType="com.happyfamily.springboot.crowdsourcingplatform.model.Rule">
        select * from rule order by rtime desc limit 0,10;
    </select>

    <select id="ruleTable" parameterType="java.lang.String" resultType="com.happyfamily.springboot.crowdsourcingplatform.model.Rule">
        select r.*,s.* from rule r left join sys_user s on r.uaccount=s.uaccount
        <where>
            <if test="uname !=null and uname !=''">
                and s.uname like concat('%',#{uname},'%')
            </if>
            <if test="rtitle !=null and rtitle !=''">
                and r.rtitle like concat('%',#{rtitle},'%')
            </if>
            <if test="rcontent !=null and rcontent !=''">
                and r.rcontent like concat('%',#{rcontent},'%')
            </if>
            <if test="rtime !=null and rtime !=''">
                and r.rtime=#{rtime}
            </if>
        </where>
        order by rtime desc limit #{startPosition},#{limit};
    </select>

    <select id="ruleCount" parameterType="java.lang.String" resultType="java.lang.Long">
        select count(*) from rule r left join sys_user s on r.uaccount=s.uaccount
        <where>
            <if test="uname !=null and uname !=''">
                and s.uname like concat('%',#{uname},'%')
            </if>
            <if test="rtitle !=null and rtitle !=''">
                and r.rtitle like concat('%',#{rtitle},'%')
            </if>
            <if test="rcontent !=null and rcontent !=''">
                and r.rcontent like concat('%',#{rcontent},'%')
            </if>
            <if test="rtime !=null and rtime !=''">
                and r.rtime=#{rtime}
            </if>
        </where>
    </select>

    <delete id="ruleDelete" parameterType="java.lang.String">
        delete from rule where rid=#{rid}
    </delete>

    <select id="titleCount" parameterType="java.lang.String" resultType="int">
        select count(*) from rule where rtitle=#{rtitle}
    </select>

    <insert id="ruleAdd" parameterType="java.lang.String">
        insert into rule(rtitle, rcontent, uaccount, rtime) value (#{rtitle},#{rcontent},#{uaccount},#{rtime})
    </insert>

    <update id="ruleUpdata" parameterType="java.lang.String">
        update rule set rtitle=#{rtitle},rcontent=#{rcontent},rtime=#{rtime},uaccount=#{uaccount} where rid=#{rid}
    </update>

    <select id="ruleReview" parameterType="java.lang.String" resultType="com.happyfamily.springboot.crowdsourcingplatform.model.Rule">
        select * from rule where rid=#{rid};
    </select>
</mapper>